@model AboutListDto

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 


<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="~/Restaurantly/assets/img/about.jpg" alt="">
                </div>
            </div>
            @foreach (var about in Model.Abouts)
            {
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>@about.Title</h3>
                    <p class="fst-italic">
                        @about.Description
                    </p>
                </div>
            }

        </div>

    </div>
</section><!-- End About Section -->
