@model SpecialListDto


@{
    ViewData["Title"] = "SpecialList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Özel</h2>
            <p>Özel Ürünlerimizi Kontrol Edin</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            @foreach (var special in Model.Specials)
            {
                
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                  
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-@special.Id">@special.Name</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
               
                        <div class="tab-pane active show" id="tab-@special.Id">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@special.Title</h3>
                                    <p>@special.Description</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="@special.Picture" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
 
              
                </div>
            </div>
            }
        </div>

    </div>
</section><!-- End Specials Section -->
