
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Misafir Yorumları</h2>
            <p>Bizim Hakkımızda Söylenilenler</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Lorem
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="#" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                        </div>
                    </div>

 

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
