@model TestimonialListDto
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hakkımızda</h2>
            <p>Bizim Hakkımızda Söylenilenler</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper text-center">
              
                    @foreach (var item in Model.Testimonials)
                    {
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Description
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="~/Restaurantly/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>@item.AppUser.FirstName @item.AppUser.SurName</h3>
                            <h4>@item.AppUser.Job</h4>
                        </div>
                    } 
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
