@model PasswordResetViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    @if (ViewBag.status == "success")
    {
        <div class="row mt-2">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-info text-center">Şifreniz yenileme linki e-posta adresinize gönderilmiştir. E-postanızı kontrol ediniz</div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <form method="post" asp-controller="Login" asp-action="ResetPassword">
                            <div class="alert alert-info">Yeni şifre belirlemek için kayıtlı e posta adresinizi yazın . Şifre değiştirme linkini e-posta adresinize göndereceğiz.</div>
                            <h3>Şifremi Unuttum</h3>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input type="text" asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group mt-2  text-center">
                                <button type="submit" class="btn btn-outline-primary form-control">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    }
</body>
</html>
